.main {
  :global {
    .ant-input {
      background-color: gainsboro;
      height: 40px;
      width: 80%;
      border-radius: 50px;
      margin-bottom: 4%;
      margin-right: 9%;
    }
    .ant-input:focus,
    .ant-input-focused {
      border-color: #b051aa;
      box-shadow: none;
    }
  }
}
.inputt {
  width: 75%;
  margin-right: 11%;
  background: purple;
  border-radius: 16px;
  height: 30px;
  border: none;
}
.inputt:hover {
  background: purple;
  color: black;
  border: none;
}
