.main {
  background: #004d6b;
}
.profileimg {
  border-radius: 100px;
  height: 40px;
  height: 40px;
  margin-bottom: 2%;
  margin-top: 2%;
}
.name {
  margin-top: 5%;
  color: white;
}
.badge {
  margin-bottom: 2%;
  margin-top: 4%;
  margin-left: 4%;
}
.neworder {
  margin-top: 8%;
}
